@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('./assets/Avenir-Font-Family/AvenirLTStd-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'AvenirLTStd-Medium', Arial !important ;
}


.container {
    background-color: white;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .account-management {
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .account-management h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .add-account, .account-list, .change-password {
    margin-bottom: 30px;
  }
  
  .add-account h2,
  .account-list h2,
  .change-password h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    padding: 8px;
    width: calc(100% - 160px);
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #333;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px;
  }
  
  .btn:hover {
    background-color: #333;
    color: #fff;
  }
  
  .account-list ul {
    list-style: none;
    padding-left: 0;
  }
  
  .account-list li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .account-list li span {
    flex: 1;
  }
  