@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('./assets/Avenir-Font-Family/AvenirLTStd-Medium.otf') format('opentype');
}

html, body, * {
  font-family: 'AvenirLTStd-Medium', Arial, sans-serif !important;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}


/* Floating island */
.floating-island {
  background-color: white;
  padding: 5% 6%;
  border-radius: 15px;
  box-shadow: 0 4px 10px #1D1D1D1B;
  display: inline-block;
  text-align: center;
  z-index: 10;
  position: relative;
  width: 80%;
  max-width: 1200px;
}

/* Title */
.floating-island p {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

/* Search container */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

/* Input container */
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center; 
  width: 100%;
  max-width: 600px;
}

/* Search box */
.search-box {
  width: 100%;
  padding: 2% 5% 2% 8%;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #E7E7E8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-button {
  margin-left: 10px; 
  padding: 2% 3%; 
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid black; 
  border-radius: 8px; 
  background-color: black; 
  color: white; 
  cursor: pointer; 
}

.search-button:hover {
  background-color: white; 
  color: black; 
}

/* Search icon */
.search-icon {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #ccc;
  pointer-events: none;
}

/* Selector */
.selectorbox {
  margin-right: 10px;
}

.selector {
  padding: 10px;

  font-size: 16px;
}

@media (max-width: 768px) {
  .selectorbox select:nth-of-type(2) {
    display: none;
  }
  .account-button {
    display: none;
  }
  .stop-button {
    display: none;
  }

  .search-bar-form {
    display: none !important;
  }
}

.history-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #E7E7E8;
  max-height: 300px;
  overflow-y: auto;
  z-index: 11;
}

.history-item{
  padding: 8px;
  padding: 10px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.history-item:hover{
  background-color: gray;
  color: white;
}

.delete-icon{
  cursor: pointer;
  color: black;
  margin-left: 10px; 
}

.quick-search-button {
    padding: 8px 15px; 
    font-size: 0.9rem;
    font-weight: bold;
    border: 2px solid white; 
    border-radius: 8px; 
    background-color: #1D1D1D1B;
    color: white;
    cursor: pointer;
    margin-left: 5px; 
    margin-top: 15px;
}


.quick-search-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #1D1D1D1B; 
  outline: 2px solid white;
  margin-left: 5px; 
  margin-top: 15px;
}

.search-bar-form {
  position: fixed;
  top: 10px;
  left: 70%;
  display: flex;
  gap: 5px;
  padding: 5px;
  max-width: 400px;
  width: 25%;
  border-radius: 8px;
  align-items: center;
  background-color: transparent;
  border: 1px solid 9c0c0c;
  z-index: 1000;
}

.search-input {
  flex: 1;
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid #1D1D1D1B;
  border-radius: 8px;
  outline: none;
  background-color: white;
  margin-top: 15px;
}

.quick-search-button {
  padding: 5px 20px;
  font-size: 1rem;
  border-radius: 8px;
  height: auto;
  cursor: pointer;
  background-color: #8d1d1c;
  color: white;
  border: 2px solid white;
  transition: background-color 0.3s, color 0.3s;
}

.quick-search-button:hover {
  background-color: white;
  color: black;
}

.history-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #8d1d1c;
  border: 1px solid #E7E7E8;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 999;
}

.history-item {
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-item:hover {
  background-color: #E7E7E8;
}

.history-mode {
  font-size: 0.8rem;
  color: 737373;
  margin-left: 8px;
}

.delete-icon {
  color: #8d1d1c;
  margin-left: 10px;
  cursor: pointer;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

.about-section {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  text-align: left;
}

.about-title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
}

.about-description {
  font-size: 1.5em;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 20px;
}

.about-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.about-list li {
  font-size: 1.3em;
  line-height: 1.6;
  margin-bottom: 15px;
  padding-left: 25px;
  position: relative;
}

.about-list li::before {
  content: "•";
  color: #007BFF;
  font-weight: bold;
  font-size: 1.5em;
  position: absolute;
  left: 0;
  top: 4px;
}


.login-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: #8d1d1c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button.logged-in {
  background-color: #8d1d1c;
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px #1D1D1D1B;
}

.login-modal-content input {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #E7E7E8;
  border-radius: 5px;
}

.login-modal-content button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-modal-content button:first-of-type {
  background-color: #1D1D1B;
  color: white;
}

.login-modal-content button:first-of-type:hover {
  background-color: white;
  color: #000000;
}

.login-modal-content button:last-of-type {
  background-color: #e7e7e8;
  color: black;
}

.login-modal-content button:last-of-type:hover {
  background-color: #e7e7e8;
}

.about-section {
  padding: 2rem;
}

.about-content-wrapper {
  background-color: #fff;  
  border-radius: 8px;      
  padding: 2rem;        
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Projection optional for additional layers */
}

.manage-button {
  padding: 0 20px;      
  height: 4vh;           
  font-size: 1rem;    
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid white;  
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
}

.manage-button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;  
}

.left-buttons {
  position: fixed;
  top: 10px;
  left: 60px;
  display: flex;
  align-items: center;
  gap: 8px; 
}

.account-button,
.stop-button {
  padding: 8px 15px;         
  font-size: 0.9rem;         
  font-weight: bold;
  border: 2px solid white;  
  border-radius: 8px;
  background-color: #8d1d1c;    
  color: white;               
  cursor: pointer;
  margin-left: 5px;          
  transition: background-color 0.3s, color 0.3s;
}

.account-button:hover,
.stop-button:hover {
  background-color: white;    
  color: black;               
  border: 2px solid black;   
}

.logo-container {
  padding: 10px 20px; 
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  top: 15px; 
  left: 10px; 
  background: none;  
}

.company-logo {
  width: 90px;     
  height: auto;     
  object-fit: contain;
  background: none; 
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav {
  display: flex;
  justify-content: flex-start;  
  align-items: center;
  padding-left: -30px;  
}